{{> header }}
{{> nav }}
  <div class="fab" data-toggle="modal" data-target="#addRecordingTask"><span class="align-self-center">+</span></div>
  <div class="container dashboard">
    <h1 class="section-title">Grabaciones Recientes</h1>
    <div class="grid" id="recent-recordings">
      {{!-- <a class="thumbnail" href="1">
          <img src="https://dummyimage.com/290x160/ccc/000.png" class="img-responsive">
          <div class="thumbnail-title">
              <h4>Title</h4>
              <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor</p>
          </div>
      </a>
      <a class="thumbnail" href="1">
          <img src="https://dummyimage.com/290x160/ccc/000.png" class="img-responsive">
          <div class="thumbnail-title">
              <h4>Title</h4>
              <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor</p>
          </div>
      </a>
      <a class="thumbnail" href="1">
          <img src="https://dummyimage.com/290x160/ccc/000.png" class="img-responsive">
          <div class="thumbnail-title">
              <h4>Lorem ipsum dolor Lorem ipsum dolor Lorem ip</h4>
              <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor</p>
          </div>
      </a>
      <a class="thumbnail" href="1">
          <img src="https://dummyimage.com/290x160/ccc/000.png" class="img-responsive">
          <div class="thumbnail-title">
              <h4>Title</h4>
              <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor</p>
          </div>
      </a> --}}
    </div>
    <h1 class="section-title">Todas las grabaciones</h1>
    <div class="grid" id="all-recordings">
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>

      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>

      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>

      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>

      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
      <a href=""><img src="https://dummyimage.com/290x160/ccc/000.png" alt=""></a>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="addRecordingTask" tabindex="-1" role="dialog" aria-labelledby="addRecordingTaskTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRecordingTaskTitle">Agregar nueva tarea de grabación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="title" class="col-sm-2 col-form-label">Titulo</label>
              <div class="col-sm-10">
                <input name="title" type="text" class="form-control" id="inputTitle" placeholder="Titulo de Grabación" autocomplete="off">
              </div>
            </div>
            <div class="form-group row">
              <label for="url" class="col-sm-2 col-form-label">URL</label>
              <div class="col-sm-10">
                <input name="url" type="text" class="form-control" id="url" placeholder="http://example.com" autocomplete="off">
              </div>
            </div>
            <div class="form-group row">
              <label for="dateStart" class="col-sm-2 col-form-label">Tiempo de Inicio</label>
              <div class="col-sm-10">
                <input name="dateStart" type="text" class="form-control" id="startDate" autocomplete="off">
              </div>
            </div>
            <div class="form-group row">
              <label for="dateEnd" class="col-sm-2 col-form-label">Tiempo Fin</label>
              <div class="col-sm-10">
                <input name="dateEnd" type="text" class="form-control" id="endDate" autocomplete="off">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="addRecordingTask-button" type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row footer">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-muted">
          <p>Streamline tiene licencia bajo BSD-3-Clause</p>
          <p class="h6">&copy<a class="text-green ml-2" href="https://rolandostar.com" target="_blank">Rolando Romero</a></p>
        </div>
        </hr>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/streamline/dashboard.js"></script>
  </body>
</html>

