{{> header }}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand d-none d-md-block" href="/">
        <img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Streamline
      </a>
      <div class="ml-auto"></div>
      <div class="input-group col-md-5">
          <input id="search-text" disabled class="form-control fc-no-border py-2 border-right-0 border" type="search" placeholder="Buscar" name="query">
          <span class="input-group-append">
            <button id="search-btn" disabled class="btn search border-left-0 border" type="submit"><i class="fa fa-search"></i></button>
          </span>
      </div>
      <div class="d-none d-md-block ml-3">
        <a id="acc"><i class="fa fa-2x fa-user-circle text-light btn-account"></i></a>
      </div>
      <div class="d-none d-md-block ml-3 mr-3">
        <a href="/logout"><i class="fa fa-2x fa-sign-out-alt text-light btn-account"></i></a>
      </div>
    </div>
  </nav>
  <div class="fab collapse" data-toggle="modal" data-target="#addRecordingJob"><span class="align-self-center">+</span></div>
  <div id="main-spinner" class="spinner-border text-primary" style="margin-top: 15%;margin-bottom: 15%; margin-left: calc(50% - 20px)" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="container dashboard collapse">
    <div class="search-container collapse">
      <h1 class="section-title">Resultados de Búsqueda</h1>
      <div id="search-spinner" class="spinner-border text-primary" style="margin-left: calc(50% - 20px)" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="grid" id="search-results"></div>
    </div>
    <h1 class="section-title">Grabaciones Recientes</h1>
    <div class="grid" id="recent-recordings"></div>
    <h1 class="section-title">Todas las grabaciones</h1>
    <div class="grid" id="all-recordings"></div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="addRecordingJob" tabindex="-1" role="dialog" aria-labelledby="addRecordingJobTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRecordingJobTitle">Agregar nueva tarea de grabación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="new-recording-job">
          <div class="modal-body">
            <div class="form-group row">
    <label for="inputTitle" class="col-sm-2 col-form-label">Titulo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTitle" name="title" autocomplete="off" required placeholder="Titulo de Grabación">
    </div>
  </div>
  <div class="form-group row">
    <label for="url" class="col-sm-2 col-form-label">URL</label>
    <div class="col-sm-10">
      <input name="url" type="url" pattern="https?://.+" class="form-control" id="url" placeholder="http://example.com" autocomplete="off" required>
    </div>
  </div>
            <div class="form-row">
              <div class="form-group col-lg-6">
                <label for="startDate">Fecha de Inicio (Grabación programada)</label>
                <input name="dateStart" type="text" class="form-control" id="startDate" autocomplete="off" required>
                <small id="passwordHelpBlock" class="form-text text-muted">
  La fecha de inicio es el momento cuando Streamline intentara acceder al contenido.
</small>
              </div>
              <div class="form-group col-lg-6">
                <label for="duration">Duración</label>
                <input name="duration" type="text" class="form-control" id="duration" autocomplete="off">
                <small id="passwordHelpBlock" class="form-text"></small>
  <div class="custom-control custom-checkbox mr-sm-2">
        <input name="durationSkip" type="checkbox" class="custom-control-input" id="noDurationCheck">
        <label class="custom-control-label" for="noDurationCheck" style="user-select: none">Sin duración</label>
      </div>
</small>
              <small id="passwordHelpBlock" class="form-text text-muted">
  Si no especifica una  duración, Streamline seguirá descargando contenido hasta que la fuente deje de estar disponible o al cumplir 24hrs descargadas.
</small>
              </div>

            </div>
            {{!-- <div class="row">
              <label for="title" class="col-sm-2 col-form-label">Titulo</label>
              <div class="col">
                <input name="title" type="text" class="form-control" id="inputTitle" placeholder="Titulo de Grabación" autocomplete="off" required >
              </div>
              <div class="invalid-feedback">No, you missed this one.</div>
            </div>
            <div class="row">
              <label for="url" class="col-sm-2 col-form-label">URL</label>
              <div class="col">
                <input name="url" type="url" pattern="https?://.+" class="form-control" id="url" placeholder="http://example.com" autocomplete="off" required>
              </div>
            </div>
            <div class="form-row">
              <label for="dateStart" class="col-xs-2 col-form-label">Tiempo de Inicio</label>
              <div class="col">
                <input name="dateStart" type="text" class="form-control" id="startDate" autocomplete="off" required>
              </div>
              <label for="duration" class="col-xs-2 col-form-label">Duración</label>
              <div class="col">
                <input name="duration" type="text" class="form-control" id="duration" autocomplete="off" >
              </div>
            </div> --}}
          </div>
          <div class="alert alert-danger collapse" role="alert">
            <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
            <strong>Error! </strong><span id="err-text"></span>
          </div>
          <div class="modal-footer">
            <button id="addRecordingJob-button" type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row footer collapse">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-muted">
          <p>Obra licenciada bajo BSD-3-Clause</p>
          <p class="h6">&copy<a class="text-green ml-2" href="https://rolandostar.com" target="_blank">Rolando Romero</a></p>
        </div>
        </hr>
      </div>
    </div>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/streamline/dashboard.js"></script>
  </body>
</html>

