<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Missing Database</title>
  <style>
    html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.message {
  background-color: bisque;
}
  </style>
</head>
<body>
<div class="message">
  <p>La base de datos no ha sido encontrada!</p>
  <p>Porfavor corre el siguiente comando: <span>$ npm run db</span> y selecciona SYNC</p>
</div>
</body>
</html>
